.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 32px;
  border: 3px solid var(--color-primary);
  border-radius: 8px;
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;

  &.primary {
    background: var(--color-primary);
    color: var(--color-on-primary);
  }

  &.secondary {
    color: var(--color-primary);
  }
}
